.logo{
  margin-right: 12px;
  width: 36px;
  margin-left: 10px;
}

.head{
  background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}